@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500&family=Pridi:wght@300;400&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  padding: 0;
}

.font-mitr{
  font-family: 'Mitr';
}

.font-pridi {
  font-family: 'Pridi';
}

.font-weight-lighter {
  font-weight: 200;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 500;
}

.LCE-color1 {
  background: #775044;
  height: 10rem;
}

.LCE-color2 {
  background: #F39300;
}

.LCE-color3 {
  background: #E64F16;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}